#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.icon-button {
  transition: transform 0.3s ease;
}

.icon-button:hover {
  transform: scale(1.1);
  color: #155724;
}

.delete-alert,
.prompt {
  height: 100vh;
  width: 100%;
  animation: fadeIn 1s ease both;
  background: rgb(255 255 255 / 40%);
  z-index: 2;
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
