#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.icon-button {
  transition: transform 0.3s ease;
}

.icon-button:hover {
  transform: scale(1.1);
  color: #14a44d;
}
